<footer>
	{% if site.your_name %}
	<a class="footerText" id="contact">
		문의는 아래의 메일로 보내주시면 감사하겠습니다.
	</a>
	{% endif %}
	<div class="footerIcons">
		{% if site.email_address %}
		<a href="mailto:{{ site.email_address }}">
			<span class="fa-stack fa-3x">
				<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
				<i class="socialIconTop fas fa-envelope fa-stack-1x"></i>
			</span>
		</a>
		{% endif %}
	</div>
	<div class="footerLinks">
		<p>© <span class="date">2024</span> LexiQuest</p>
	</div>
</footer>
<script>
	// make date in footer dynamic
	document.querySelector(".date").textContent = new Date().getFullYear();
</script>
